<!--TODO directives-->

        <div> search 	mcdonald's<br>
            <h2>Manual</h2>
            <div>
                McDonald's
                Saint-Herblain
                02 40 43 10 77
                Open ⋅ Closes 12AM
                WEBSITE
                DIRECTIONS
                McDonald's
            </div>
            <BR>
            <BR>
            <BR>
            <BR>
            <div>		
                1.2 km · Nantes
                02 40 43 73 45
                Open ⋅ Closes 4AM
                WEBSITE
                DIRECTIONS
            </div>
            <BR>
            <BR>
            <BR>
            <BR>
            <div>

                McDonald's
                Centre commercial Atlantis
                2.6 km · Saint-Herblain
                02 40 92 88 46
                Open ⋅ Closes 11PM
                WEBSITE
                DIRECTIONS
            </div>
            <BR>
            <BR>
            <BR>
            <BR>


            <div>	
                McDonald's
                2.5 km · Bouguenais
                02 51 70 60 65
                Open ⋅ Closes 11PM
                WEBSITE
                DIRECTIONS
                McDonald's
                3.8 km · Nantes
                02 51 72 90 00
                Open ⋅ Closes 12AM
                WEBSITE
                DIRECTIONS
                McDonald's
                4.3 km · Nantes
                02 28 29 83 71
                Open ⋅ Closes 12AM
                WEBSITE
                DIRECTIONS
                McDonald's
                5.0 km · Saint-Herblain
                02 51 78 83 78
                Open 24 hours
                WEBSITE
                DIRECTIONS
            </div>
            <BR>
            <BR>
            <BR>
            <BR>

            <div>
                McDonald's
                6.3 km · Nantes
                02 40 76 30 00
                Open ⋅ Closes 12AM
                WEBSITE
                DIRECTIONS
            </div>
            <BR>
            <BR>
            <BR>
            <BR>

            <div>
                McDonald's
                7.1 km · Rezé
                02 40 13 10 50
                Open ⋅ Closes 12AM
                WEBSITE
                DIRECTIONS
            </div>


            <div>
                McDonald's
                7.5 km · Bouaye
                02 40 26 73 42
                Open ⋅ Closes 1AM
                WEBSITE
                DIRECTIONS
            </div>
            <BR>
            <BR>
            <BR>
            <BR>
            <div>	McDonald's
                Centre commercial Carrefour Nantes Beaujoire
                9.3 km · Nantes
                02 40 68 93 94
                Open 24 hours
                WEBSITE
                DIRECTIONS
            </div>
            <BR>
            <BR>
            <BR>
            <BR>
            <div>
                McDonald's
                9.7 km · La Chapelle-sur-Erdre
                02 28 01 20 44
                Open ⋅ Closes 11PM
                WEBSITE
                DIRECTIONS
            </div>
            <BR>
            <BR>
            <BR>
            <BR>
            <div>	McDonald's
                Centre Commercial Pôle Sud
                10.6 km · Basse-Goulaine
                02 40 34 47 89
                Open ⋅ Closes 11PM
                WEBSITE
                DIRECTIONS
            </div>
            <BR>
            <BR>
            <BR>
            <BR>
            <div>
                McDonald's
                14.1 km · Vigneux-de-Bretagne
                02 28 02 04 08
                Open ⋅ Closes 11PM
                WEBSITE
                DIRECTIONS
            </div>

            <div>
                McDonald's
                14.4 km · Carquefou
                02 28 23 20 43
                Open ⋅ Closes 12AM
                WEBSITE
                DIRECTIONS
            </div>
        </div>
