<!DOCTYPE html>
<html lang="fr-fr">
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="Nantes, resto,restos, restaurants, quick,
              fast,food, Mac,Macs,Do" />

        <title>Les MacDo de Nantes</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  crossorigin="anonymous">


        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.12.0/firebase.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-resource.min.js">
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.min.js">
        </script>
        <!--        <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>-->
        <script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>

        <script>
            // Initialize Firebase
            var config = {
                apiKey: "AIzaSyAXYWgZI41DykBucgzvCwP2WPq17iF5Gtc",
                authDomain: "lesmacdodenantes.firebaseapp.com",
                databaseURL: "https://lesmacdodenantes.firebaseio.com",
                projectId: "lesmacdodenantes",
                storageBucket: "lesmacdodenantes.appspot.com",
                messagingSenderId: "265130861788"
            };
            firebase.initializeApp(config);
        </script>

        <script src="https://www.gstatic.com/firebasejs/ui/2.7.0/firebase-ui-auth__fr.js"></script>
        <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/2.7.0/firebase-ui-auth.css" />
        <script src="controller.js"></script>
        <link type="text/css" rel="stylesheet" href="css.css" />

    </head>
    <body class="container-fluid" ng-app="myAppModule"  ng-controller="myController">
        <H1>Les Mac Donald's de Nantes</H1>
        <div>
            <p>Name : <input type="text" ng-model="name"></p>
            <a href ng-click="writeUserDataa()">Send Button</a>

            <h1>Hello {{name}}</h1>
            Val= {{vall}}
        </div>

        <div>
            <h2>Print database</h2>
            <div>{{readd()}}</div>
            <div>
                
                List 1
                <ul ng-repeat="resto in telssJson.lesmacdodenantes.tels">
                    <li>Resto={{resto}}
                        <br>close= {{resto.close}}

                    </li>
                </ul>
                
                List 2
                <ul ng-repeat="resto in telssJson.lesmacdodenantes.tels">
                    <li>Resto={{resto.t0240884411.close}}
                        <br>close= {{resto.close}}

                    </li>
                </ul>
                
                List 3 :
                <ul ng-repeat="resto in telssJson.lesmacdodenantes.tels.t0240884411">
                    <li>Resto={{resto}}
                        <br>close= {{resto.close}}

                    </li>
                </ul>
                   
                
            </div>
        </div>
        <div>
            <h2>Your location</h2>
            <div id="location">
                {{add1(10)}}
            </div>
        </div>
        <!-- The surrounding HTML is left untouched by FirebaseUI.
             Your app may use that space for branding, controls and other customizations.
        https://firebase.google.com/docs/auth/web/firebaseui -->
        <h1>Welcome to My Awesome App</h1>
        <div id="firebaseui-auth-container"></div>
        <div id="loader">Loading...</div>

        <div>
            <h2>Maps</h2>
            <div>
            </div>
        </div>
        <div>
            <!--            TODO ng-view-->
            <button ng-click="myController.showManualRestos()">Show manual restos</button>
            <br> showManualRestosBool =  <div>{{myController.showManualRestosBool}}</div>
        </div>
    <include-resto-manual ng-show="myController.showManualRestosBool">
    </include-resto-manual>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"  crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"  crossorigin="anonymous"></script>
</body>
</html>
